/* my code */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
  font-size: 62.5%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
}
/*style for container */
.container {
  max-width: 880px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.795);
  background: rgba(255, 255, 255, 0.795);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.078);
}
.intro {
  position: relative;
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.078);
}
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
}
.header {
  background: url(/image/img3.jpg) no-repeat;
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
}
.header .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
}
.header .nav-links a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1;
  color: white;
  width: 10%;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.6rem;
  padding-top: 1rem;
}
@media (max-width:550px) {
  .header .nav-links {
    justify-content: space-evenly;
  }
}
.header .intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.header .intro-text h1 {
  font-size: 4rem;
  color: white;
  z-index: 0;
}
.header .intro-text p {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.795);
  z-index: 1;
  padding-top: 2rem;
}
.personal-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background: white;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 1.5rem;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.078);
}
.personal-info .about-me {
  width: 50%;
}
.personal-info .about-me h3 {
  font-size: 3rem;
  padding-bottom: 2rem;
}
.personal-info .about-me p {
  font-size: 1.6rem;
  line-height: 1.2;
  padding: 0.2em;
}
@media (max-width:550px) {
  .personal-info .about-me {
    width: 100%;
  }
  .personal-info .about-me h3 {
    text-align: center;
    padding-top: 2rem;
  }
}
.personal-info .about-me-img {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  box-sizing: border-box;
}
.personal-info .about-me-img img {
  width: 200px;
  height: 200px;
  border-radius: 80%;
  border: 1px solid #abe9f1;
}
@media (max-width:550px) {
  .personal-info .about-me-img {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width:550px) {
  .personal-info {
    display: flex;
    flex-direction: column-reverse;
  }
}
.work-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  margin-top: 3rem;
  background: white;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.078);
}
.work-info .skills {
  width: 50%;
}
.work-info .skills h3 {
  font-size: 3rem;
  padding-bottom: 2rem;
}
.work-info .skills ul {
  font-size: 1.6rem;
  list-style-type: square;
  padding-left: 1.5rem;
  line-height: 1.5;
}
.work-info .skills ul li {
  text-transform: uppercase;
  border-radius: 2px;
}
.work-info .work-history {
  width: 50%;
  padding-left: 6.5rem;
}
.work-info .work-history h3 {
  font-size: 3rem;
  padding-bottom: 2rem;
}
.work-info .work-history h4 {
  font-weight: bold;
  font-size: 1.6rem;
}
.work-info .work-history p {
  font-size: 1.6rem;
  padding-bottom: 2rem;
}
@media (max-width:550px) {
  .work-info .work-history {
    padding-left: 0;
  }
}
.contact {
  margin-top: 3rem;
  padding: 2rem;
  background: white;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.078);
}
.contact h3 {
  font-size: 3rem;
  padding-bottom: 2rem;
}
.contact .contact-form {
  width: 50%;
}
.contact .contact-form .contact-details label {
  font-size: 1.6rem;
}
.contact .contact-form .contact-details input {
  width: 100%;
  height: 3.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  border: 1px solid #abe9f1;
  outline: none;
  border-radius: 4px;
}
.contact .contact-form .contact-details input:focus {
  box-shadow: 0px 0px 1px 2px #2fd8ee;
}
.contact .contact-form .contact-details textarea {
  width: 100%;
  margin-top: 1rem;
  border: 1px solid #abe9f1;
  outline: none;
  border-radius: 4px;
}
.contact .contact-form .contact-details textarea:focus {
  box-shadow: 0px 0px 1px 2px #2fd8ee;
  padding: 0.5rem;
  font-size: 1.3rem;
}
@media (max-width:550px) {
  .contact .contact-form {
    width: 100%;
  }
}
footer {
  font-size: 1.6rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
