/* my code */
//import colors
@import "reset.less";
@import "colors.less";
@import "font.less";
@import "mixins.less";
@import "variables.less";

/*style for container */
.container {
  max-width: 880px;
  margin: 0 auto;
  border: 1px solid @transparentWhite;
  background: @transparentWhite;
  box-shadow: 0px 0px 2px 2px @shadowColor;
}

.intro {
  position: relative;
  box-shadow: 0px 0px 2px 3px @shadowColor;
}

.overlay {
  position: absolute;
  background: @overlay;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
}

.header {
  background: url(/image/img3.jpg) no-repeat;
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;

  .nav-links {
    .flex-display(row, flex-end);
    width: 100%;

    a {
      .flex-display(row, flex-start);
      z-index: 1;
      color: @white;
      width: 10%;
      text-decoration: none;
      text-transform: capitalize;
      font-size: @mediumFontSize;
      padding-top: 1rem;
    }
    @media @mediaMobile {
      justify-content: space-evenly;
    }
  }
  .intro-text {
    .flex-display(column, center, center);
    height: 80%;

    h1 {
      font-size: @h1fontSize;
      color: @white;
      z-index: 0;
    }
    p {
      font-size: @h3fontSize;
      color: @transparentWhite;
      z-index: 1;
      padding-top: 2rem;
    }
  }
}

.personal-info {
  .flex-display();
  background: @white;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 1.5rem;
  box-shadow: 0px 0px 2px 2px @shadowColor;

  .about-me {
    width: 50%;

    h3 {
      font-size: 3rem;
      padding-bottom: 2rem;
    }
    p {
      font-size: @mediumFontSize;
      line-height: 1.2;
      padding: 0.2em;
    }
    @media @mediaMobile {
      width: 100%;
      h3 {
        text-align: center;
        padding-top: 2rem;
      }
    }
  }

  .about-me-img {
    .flex-display(row, flex-end, center);
    width: 40%;
    box-sizing: border-box;

    img {
      width: 200px;
      height: 200px;
      border-radius: 80%;
      border: 1px solid @inputBorder;
    }
    @media @mediaMobile {
      width: 100%;
      justify-content: center;
    }
  }
  @media @mediaMobile {
    display: flex;
    flex-direction: column-reverse;
  }
}
.work-info {
  .flex-display(row, center);
  padding: 2rem;
  margin-top: 3rem;
  background: @white;
  box-shadow: 0px 0px 2px 2px @shadowColor;

  .skills {
    width: 50%;

    h3 {
      font-size: @h3fontSize;
      padding-bottom: 2rem;
    }

    ul {
      font-size: @mediumFontSize;
      list-style-type: square;
      padding-left: 1.5rem;
      line-height: 1.5;

      li {
        text-transform: uppercase;
        border-radius: 2px;
      }
    }
  }

  .work-history {
    width: 50%;
    padding-left: 6.5rem;

    h3 {
      font-size: @h3fontSize;
      padding-bottom: 2rem;
    }
    h4 {
      font-weight: bold;
      font-size: @mediumFontSize;
    }
    p {
      font-size: @mediumFontSize;
      padding-bottom: 2rem;
    }
    @media @mediaMobile {
      padding-left: 0;
    }
  }
}

.contact {
  margin-top: 3rem;
  padding: 2rem;
  background: @white;
  box-shadow: 0px 0px 2px 2px @shadowColor;

  h3 {
    font-size: @h3fontSize;
    padding-bottom: 2rem;
  }
}

.contact-form {
  width: 50%;

  .contact-details {
    label {
      font-size: @mediumFontSize;
    }
    input {
      width: 100%;
      height: 3.5rem;
      padding: 0.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: @inputFontSize;
      border: 1px solid @inputBorder;
      outline: none;
      border-radius: 4px;

      &:focus {
        box-shadow: 0px 0px 1px 2px @inputFocusColor;
      }
    }

    textarea {
      width: 100%;
      margin-top: 1rem;
      border: 1px solid @inputBorder;
      outline: none;
      border-radius: 4px;

      &:focus {
        box-shadow: 0px 0px 1px 2px @inputFocusColor;
        padding: 0.5rem;
        font-size: @inputFontSize;
      }
    }
  }
  button {
    margin-top: 1rem;
    border: 1px solid @inputBorder;
    height: 3rem;
    width: 50%;
    background: @inputBorder;
    color: @white;
    border-radius: 4px;

    &:hover {
      background: @inputFocusColor;
    }
  }
  @media @mediaMobile {
    width: 100%;
  }
}

footer {
  font-size: @mediumFontSize;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
